* {
  font-family: "Arial Narrow";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  max-width: 1440px;
  height: 100%;
}
html {
  margin: 0 auto;
  max-width: 1440px;
  height: 100%;
}
#main {
  max-width: 1440px;
}
nav {
  padding: 20px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  max-width: 1440px;
  width: 100%;
  top: 0;
  z-index: 32;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.toggle-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  cursor: pointer;
}
.line {
  width: 20px;
  height: 3px;
  background-color: #000;
  margin-bottom: 3px;
  &:last-child {
    margin-bottom: 0;
  }
}
.nav-svg-container {
  width: 13%;
  display: flex;
  justify-content: space-between;
}
.svg-icon {
  width: 20px;
  margin: 0 15px;
  cursor: pointer;
  position: absolute;
}
#firstSection {
  height: 100vh;
  background: url("https://picsum.photos/1440/1000?grayscale") no-repeat;
  position: relative;
}
.section-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 30%;
  top: 35%;
  color: #000;
  z-index: 10;
  text-align: center;
}
.section-text {
  font-size: 20px;
  width: 65%;
  text-align: center;
  margin: 40px 0;
}
.section-title {
  font-size: 36px;
  margin-bottom: 10px;
}
.section-subtitle {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: lighter;
}
.section-link {
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  color: #000;
  padding: 15px 30px;
  font-weight: bold;
}
.svg-icon-prev {
  top: 50%;
  left: 1%;
  width: 80px;
}
.svg-icon-next {
  top: 50%;
  right: 1%;
  width: 80px;
}
.section {
  padding: 50px 0;
  height: 500px;
  background: url("https://picsum.photos/id/870/1440/500?grayscale&blur=2") no-repeat;
  position: relative;
}
.second-section-text-container {
  align-items: flex-start;
  text-align: start;
  bottom: 50%;
  left: 10%;
  right: auto;
}
.third-section {
  background: #fff;
  padding: 50px 20px;
  height: 100%;
}
.third-section-container {
  padding: 10px 30px;
}
.third-section-title-container {
  display: flex;
}
.product-container {
  text-align: center;
}
.product-title {
  padding: 0 2px 20px 2px;
  margin-right: 5px;
  font-weight: 700;
  margin-top: 20px;
}
.product-title-first {
  border-bottom: 3px solid #000;
}
.third-section-product-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  overflow: hidden;
}
.svg-previous-icon {
  top: 50%;
  left: 0;
  width: 30px;
}
.svg-next-icon {
  top: 50%;
  right: 0;
  width: 30px;
}
.radio-container {
  text-align: center;
  margin-top: 20px;
  input {
    margin: 0 3px;
  }
}
.fourth-section-text-container {
  align-items: flex-start;
  text-align: start;
  top: auto;
  bottom: 10%;
  right: 10%;
}
.fourth-section-link {
  font-size: 10px;
}
.fifth-section {
  background: #fff;
  height: 100%;
}
.fifth-section-container {
  padding: 10px 50px;
}
.fifth-section-product-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  p {
    font-size: 12px;
    padding: 5px;
    font-weight: lighter;
  }
}
.fifth-svg-icon-next {
  position: absolute;
  top: 10%;
  right: 0;
  width: 30px;
  cursor: pointer;
}
.fifth-svg-icon-prev {
  position: absolute;
  top: 10%;
  right: 4%;
  width: 30px;
  cursor: pointer;
}
.fifth-section-title-container {
  display: flex;
  position: absolute;
  top: 10%;
  left: 25%;
}
.fifth-section-title {
  padding: 0 1px 20px 1px;
  margin-right: 5px;
  font-weight: 700;
  &:first-child {
    border-bottom: 3px solid #000;
  }
}
.sixth-section {
  height: 100%;
  padding-bottom: 0;
}
.sixth-section-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 70px 0 70px;
}
.sixth-section-container-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 20px 30px 0;
}
.sixth-section-container-sub {
  display: flex;
}
.sixth-section-title {
  font-size: 32px;
  margin: 0;
}
.sixth-section-text {
  margin: 0 0 20px 0;
}
#footer {
  padding: 80px 100px;
  background-color: #e8e8e8;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  color: #000;
}
.footer-container-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logomark {
  height: 70px;
  width: 50px;
}
.footer-title {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-link {
  text-decoration: none;
  font-size: 10px;
  color: #000;
  margin: 10px 0;
}
.footer-input {
  border: none;
  border-bottom: 3px solid #000;
  padding-bottom: 5px;
  margin: 5px 0;
  background-color: #e8e8e8;
}
.copyright {
  font-size: 12px;
  font-weight: bold;
}
.footer-download-img {
  img {
    border-radius: 10px;
    margin-bottom: 5px;
    height: 100%;
    width: 100%;
  }
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  padding: 10px 20px;
}
.footer-nav-text {
  font-size: 12px;
  color: #fff;
  a {
    text-decoration: none;
    color: #fff;
  }
}
